MOVIEBOX_DATA_ROOT=/srv/moviebox
MOVIEBOX_BIND=0.0.0.0:8420
MOVIEBOX_MAX_HEIGHT=1080
MOVIEBOX_DOWNLOAD_CONCURRENCY=1
MOVIEBOX_RESERVE_GIB=10
MOVIEBOX_UID=1000
MOVIEBOX_GID=1000
JELLYFIN_RENDER_GID=993
JELLYFIN_PUBLISHED_PORT=8096
